.ct-chart .ct-series .ct-label {
  fill: rgba(0,0,0,0.4);
}
.light-label {
  .ct-label { fill: rgba(255,255,255,0.4); }
}

.ct-chart .ct-series.ct-series-a {
  @color: #FF0000;
  .ct-slice.ct-donut { stroke: @color; }
}
.ct-chart .ct-series.ct-series-b {
  @color: #FF530D;
  .ct-slice.ct-donut { stroke: @color; }

}
.ct-chart .ct-series.ct-series-c {
  @color: #E82C0C;
  .ct-slice.ct-donut { stroke: @color; }

}
.ct-chart .ct-series.ct-series-d {
  @color: #E80C7A;
  .ct-slice.ct-donut { stroke: @color; }

}
.ct-chart .ct-series.ct-series-e {
  @color: #FF0DFF;
  .ct-slice.ct-donut { stroke: @color; }

}
.ct-chart .ct-series.ct-series-f {
  @color: #A901E8;
  .ct-slice.ct-donut { stroke: @color; }

}
.ct-chart .ct-series.ct-series-g {
  @color: #7401FF;
  .ct-slice.ct-donut { stroke: @color; }

}
.ct-chart .ct-series.ct-series-h {
  @color: #330BE8;
  .ct-slice.ct-donut { stroke: @color; }
  .light-label;
}
.ct-chart .ct-series.ct-series-i {
  @color: #0C22FF;
  .ct-slice.ct-donut { stroke: @color; }

}
.ct-chart .ct-series.ct-series-j {
  @color: #0153E8;
  .ct-slice.ct-donut { stroke: @color; }

}
.ct-chart .ct-series.ct-series-k {
  @color: #019EFF;
  .ct-slice.ct-donut { stroke: @color; }

}
.ct-chart .ct-series.ct-series-l {
  @color: #0BCEE8;
  .ct-slice.ct-donut { stroke: @color; }

}
.ct-chart .ct-series.ct-series-m {
  @color: #0CFFD9;
  .ct-slice.ct-donut { stroke: @color; }

}
.ct-chart .ct-series.ct-series-n {
  @color: #01E882;
  .ct-slice.ct-donut { stroke: @color; }

}
.ct-chart .ct-series.ct-series-o {
  @color: #01FF47;
  .ct-slice.ct-donut { stroke: @color; }

}
.ct-chart .ct-series.ct-series-p {
  @color: #0DE80B;
  .ct-slice.ct-donut { stroke: @color; }

}
.ct-chart .ct-series.ct-series-q {
  @color: #63FF0C;
  .ct-slice.ct-donut { stroke: @color; }

}
.ct-chart .ct-series.ct-series-r {
  @color: #A4E801;
  .ct-slice.ct-donut { stroke: @color; }

}
.ct-chart .ct-series.ct-series-s {
  @color: #FFFB01;
  .ct-slice.ct-donut { stroke: @color; }

}
.ct-chart .ct-series.ct-series-t {
  @color: #E8CE0B;
  .ct-slice.ct-donut { stroke: @color; }

}
.ct-chart .ct-series.ct-series-u {
  @color: #FFCA0C;
  .ct-slice.ct-donut { stroke: @color; }

}
.ct-chart .ct-series.ct-series-v {
  @color: #E89E01;
  .ct-slice.ct-donut { stroke: @color; }

}
.ct-chart .ct-series.ct-series-w {
  @color: #FF9401;
  .ct-slice.ct-donut { stroke: @color; }

}
.ct-chart .ct-series.ct-series-x {
  @color: #E86B0B;
  .ct-slice.ct-donut { stroke: @color; }

}
.ct-chart .ct-series.ct-series-y {
  @color: #FF520C;
  .ct-slice.ct-donut { stroke: @color; }

}
.ct-chart .ct-series.ct-series-z {
  @color: #E82201;
  .ct-slice.ct-donut { stroke: @color; }

}
